body {
    font-family: "Dosis", sans-serif;
    background-image: url('../img/onda.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 7%;
    background-color: #ffFFFf;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}
a:hover{
    color: black;
}

p {
    font-size: 20px;
}
