/*Nosotros */

.page-nosotros{
    .nosotros{
        .staff{
            .personas{
                .persona{
                    img {
                        transition: all 0.4s;
                        &:hover{
                            @extend %agrandarImagen;
                        }
                    }
                }
            }
        }
    }
}

/* Formulario */
.form-control:focus{
    border-color: $primario;
    box-shadow: 0 0 0 0.25rem rgba(196, 56, 56, 0.25);
}
.btn-rojo {
    background-color: $primario;
    border: 0px;
    color: #ffffff;
    &:hover{
        background-color: $secundario !important;
        border: 0px;
        color: #ffffff !important;
    }
}
