/* Productos */

.page-productos{
    .productos{
        .contenedor-productos{
            .producto{
                .card{
                    border: 0px;
                    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
                    transition: all 0.4s;
                    &:hover{
                        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                    }
                    .card-body{
                        .card-text{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}