/* Servicios */

.page-servicios{
    .servicios{
        .contenedor-servicios{
            .servicio{
                .texto{
                    h3{
                        font-size: 35px;
                        font-weight: 600;
                    }
                }
                .fotos{
                    .foto{
                        img{
                            transition: all 0.4s;
                            &:hover{
                                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
}