/* Servicios */

.page-servicios{
    .servicios{
        .contenedor-servicios{
            .servicio{
                .texto{
                    h3{
                        font-size: 35px;
                        font-weight: 600;
                    }
                }
                .fotos{
                    .foto{
                        img{
                            transition: all 0.4s;
                            &:hover{
                                @extend %agrandarImagen;
                            }
                        }
                    }
                }
            }
        }
    }
}
